<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Web page created with grunt-slice-front</title>
    <!--
		<script async src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    -->
		<style>
		</style>
	</head>
	<body>
		<article>
		<% body.forEach(function(section){ %>
			<section><%= section %></section>
		<% }); %>
      <hr>
      <section>
        <h1>Front matter as JSON</h1>
        <pre><code><%- JSON.stringify(page, null, 2) %></code></pre>
      </section>
      <hr>
      <section>
        <h1>Global parameters as JSON</h1>
        <pre><code><%- JSON.stringify(params, null, 2) %></code></pre>
      </section>
		</article>
	</body>
</html>
