<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title><%= params.title || "Web page created with grunt-slice-front" %></title>
    <!--
		<script async src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    -->
		<style>
		</style>
	</head>
	<body>
    <p><em>This article was written by <%- page.author || "Unknown" %>.</em></p>
		<article>
		<% body.forEach(function(section){ %>
			<section><%= section %></section>
		<% }); %>
		</article>
	</body>
</html>
