<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title><%= params.title || "Presentation created with grunt-slice-markdown" %></title>
		<script async src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
		<style>
			body {
				background-color: #DDD;
			}
			section {
				display: block;
				overflow: hidden;
				width:  21em;
				height: 14em;
				margin: 1em;
				padding: 2em;
				background-color: white;
				border: 1px solid rgba(0, 0, 0, 0.3);
				border-radius: 1em;
				box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
				color: #888;
				text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
				font-size: 36pt;
			}
			h1, h2, p {
				margin-top: 0;
				margin-bottom: 0.5em;
			}
			h1, h2 {
				color: #222;
				text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
			}
			h1 { font-size: 2em; }
			h2 { font-size: 1.25em; }
			strong {
				color: #222;
				text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
			}
			pre {
				padding: 1em;
				background-color: #EEE;
				border: 1px solid rgba(0, 0, 0, 0.3);
				border-radius: 0.5em;
				box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
				color: #444;
				text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
				font-size: 24pt;
				font-weight: bold;
			}
		</style>
	</head>
	<body>
		<article>
		<% sections.forEach(function(section){ %>
			<section><%= section.content %></section>
		<% }); %>
		</article>
	</body>
</html>
